aniso8601==9.0.1
black==24.2.0
blinker==1.7.0
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
filelock==3.13.1
flake8==7.0.0
Flask==3.0.2
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
identify==2.5.35
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
pre-commit==3.6.2
pycodestyle==2.11.1
pyflakes==3.2.0
PyMySQL==1.1.0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
six==1.16.0
SQLAlchemy==2.0.27
SQLAlchemy-Utils==0.41.1
typing_extensions==4.10.0
virtualenv==20.25.1
Werkzeug==3.0.1
